/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

body::-webkit-scrollbar {
    display: none;
}